body {
    font-family: Arial, sans-serif;
    background-color: purple; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    margin: 0;
    flex-direction: column; 
}


h1 {
    text-align: center;
    background-color: black; 
    color: white; 
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}





#captchaForm {
   
    text-align: center;
    background-color: white; 
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}


#userInput {
    width: 90%;
    padding: 10px;
    background-color: white; 
    color: black;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
  
}




#captchaCode {

    background-color: purple; 
    color: white; 
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: bold;
    border: 2px dashed white;
    width: fit-content;
    text-align: center;
}




button[type="submit"] {
    text-align: center;
    width: 90%;
    padding: 10px;
    background-color: black; 
    color: white;
    border: 1px solid black; 
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}



button[type="submit"]:hover {
       text-align: center;
       background-color: white; 
}